Package: ml.festival.redstone-snapshot
Name: Redstone Snapshot
Depends: mobilesubstrate
Version: 16wWWa
Architecture: iphoneos-arm
Description: Redstone Insider Preview
Depiction: https://festival.ml/repo/depictions?p=ml.festival.redstone-snapshot
Maintainer: FESTIVAL
Author: Sniper_GER
Section: Tweaks
