<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>PFHeaderCell</string>
			<key>background</key>
			<string>#EFEFF4</string>
			<key>image</key>
			<string>/Library/PreferenceBundles/Redstone.bundle/banner</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Components</string>
			<key>footerText</key>
			<string>Lock screen notifications are only affected by the Lock Screen component.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>homeScreenEnabled</string>
			<key>label</key>
			<string>Home Screen</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>lockScreenEnabled</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>notificationsEnabled</string>
			<key>label</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>volumeControlEnabled</string>
			<key>label</key>
			<string>Volume Control</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>detail</key>
			<string>RDSAccentColorList</string>
			<key>key</key>
			<string>accentColor</string>
			<key>label</key>
			<string>Accent Color</string>
			<key>PostNotification</key>
			<string>ml.festival.redstone.AccentColorChanged</string>
			<key>validTitles</key>
			<array>
				<string>#FFB900</string>
				<string>#FF8C00</string>
				<string>#F7630C</string>
				<string>#CA5010</string>
				<string>#DA3B01</string>
				<string>#EF6950</string>
				<string>#D13438</string>
				<string>#FF4343</string>
				<string>#E74856</string>
				<string>#E81123</string>
				<string>#EA005E</string>
				<string>#C30052</string>
				<string>#E3008C</string>
				<string>#BF0077</string>
				<string>#C329B3</string>
				<string>#9A0080</string>
				<string>#0078D7</string>
				<string>#0063B1</string>
				<string>#8E8CD8</string>
				<string>#6B69D6</string>
				<string>#8764B8</string>
				<string>#744DA9</string>
				<string>#B146D2</string>
				<string>#887198</string>
				<string>#0099BC</string>
				<string>#2D7D9A</string>
				<string>#00B7C3</string>
				<string>#038387</string>
				<string>#00B294</string>
				<string>#018574</string>
				<string>#00CC6A</string>
				<string>#10893E</string>
				<string>#7A7574</string>
				<string>#5D5A58</string>
				<string>#68768A</string>
				<string>#515C6B</string>
				<string>#567C73</string>
				<string>#486860</string>
				<string>#498205</string>
				<string>#847545</string>
				<string>#767676</string>
				<string>#4C4A48</string>
				<string>#69797E</string>
				<string>#4A5459</string>
				<string>#647C64</string>
				<string>#525E54</string>
				<string>#847545</string>
				<string>#7E735F</string>
				<string>#3E65FF</string>
				<string>Automatic</string>
			</array>
			<key>validValues</key>
			<array>
				<string>#FFB900</string>
				<string>#FF8C00</string>
				<string>#F7630C</string>
				<string>#CA5010</string>
				<string>#DA3B01</string>
				<string>#EF6950</string>
				<string>#D13438</string>
				<string>#FF4343</string>
				<string>#E74856</string>
				<string>#E81123</string>
				<string>#EA005E</string>
				<string>#C30052</string>
				<string>#E3008C</string>
				<string>#BF0077</string>
				<string>#C329B3</string>
				<string>#9A0080</string>
				<string>#0078D7</string>
				<string>#0063B1</string>
				<string>#8E8CD8</string>
				<string>#6B69D6</string>
				<string>#8764B8</string>
				<string>#744DA9</string>
				<string>#B146D2</string>
				<string>#887198</string>
				<string>#0099BC</string>
				<string>#2D7D9A</string>
				<string>#00B7C3</string>
				<string>#038387</string>
				<string>#00B294</string>
				<string>#018574</string>
				<string>#00CC6A</string>
				<string>#10893E</string>
				<string>#7A7574</string>
				<string>#5D5A58</string>
				<string>#68768A</string>
				<string>#515C6B</string>
				<string>#567C73</string>
				<string>#486860</string>
				<string>#498205</string>
				<string>#847545</string>
				<string>#767676</string>
				<string>#4C4A48</string>
				<string>#69797E</string>
				<string>#4A5459</string>
				<string>#647C64</string>
				<string>#525E54</string>
				<string>#847545</string>
				<string>#7E735F</string>
				<string>#3E65FF</string>
				<string>auto</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>NO</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>showWallpaper</string>
			<key>label</key>
			<string>Show Wallpaper</string>
			<key>PostNotification</key>
			<string>ml.festival.redstone.WallpaperChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Theme Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>themeColor</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>validValues</key>
			<array>
				<string>dark</string>
				<string>light</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tile Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.8</real>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>tileOpacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Show More Tiles enables a third column on 4&quot; and 4.7&quot; devices. This option is always enabled on 5.5&quot; devices.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>showMoreTiles</string>
			<key>label</key>
			<string>Show More Tiles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Start Screen Layout</string>
			<key>action</key>
			<string>resetHomeScreenLayout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart SpringBoard</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>
	</array>
	<key>title</key>
	<string>Redstone</string>
</dict>
</plist>
