Package: ml.festival.redstone
Name: Redstone Insider Preview
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Confidential Insider Preview of Redstone
Depiction: https://connect.festival.ml/depiction/ml.festival.redstone
Maintainer: FESTIVAL
Author: Sniper_GER
Section: Tweaks
