<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>default</key>
			<string>0078D7</string>
			<key>key</key>
			<string>accentColor</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Accent Colors</string>
			<key>validTitles</key>
			<array>
				<string>#FFB900</string>
				<string>#E74856</string>
				<string>#0078D7</string>
				<string>#0099BC</string>
				<string>#7A7574</string>
				<string>#767676</string>
				<string>#FF8C00</string>
				<string>#E81123</string>
				<string>#0063B1</string>
				<string>#2D7D9A</string>
				<string>#5D5A58</string>
				<string>#4C4A48</string>
				<string>#F7630C</string>
				<string>#EA005E</string>
				<string>#8E8CD8</string>
				<string>#00B7C3</string>
				<string>#68768A</string>
				<string>#69797E</string>
				<string>#CA5010</string>
				<string>#C30052</string>
				<string>#6B69D6</string>
				<string>#038387</string>
				<string>#515C6B</string>
				<string>#4A5459</string>
				<string>#DA3B01</string>
				<string>#E3008C</string>
				<string>#8764B8</string>
				<string>#00B294</string>
				<string>#567C73</string>
				<string>#647C64</string>
				<string>#EF6950</string>
				<string>#BF0077</string>
				<string>#744DA9</string>
				<string>#018574</string>
				<string>#486860</string>
				<string>#525E54</string>
				<string>#D13438</string>
				<string>#C239B3</string>
				<string>#B146C2</string>
				<string>#00CC6A</string>
				<string>#498205</string>
				<string>#847545</string>
				<string>#FF4343</string>
				<string>#9A0080</string>
				<string>#881798</string>
				<string>#10893E</string>
				<string>#107C10</string>
				<string>#7E735F</string>
			</array>
			<key>validValues</key>
			<array>
				<string>FFB900</string>
				<string>E74856</string>
				<string>0078D7</string>
				<string>0099BC</string>
				<string>7A7574</string>
				<string>767676</string>
				<string>FF8C00</string>
				<string>E81123</string>
				<string>0063B1</string>
				<string>2D7D9A</string>
				<string>5D5A58</string>
				<string>4C4A48</string>
				<string>F7630C</string>
				<string>EA005E</string>
				<string>8E8CD8</string>
				<string>00B7C3</string>
				<string>68768A</string>
				<string>69797E</string>
				<string>CA5010</string>
				<string>C30052</string>
				<string>6B69D6</string>
				<string>038387</string>
				<string>515C6B</string>
				<string>4A5459</string>
				<string>DA3B01</string>
				<string>E3008C</string>
				<string>8764B8</string>
				<string>00B294</string>
				<string>567C73</string>
				<string>647C64</string>
				<string>EF6950</string>
				<string>BF0077</string>
				<string>744DA9</string>
				<string>018574</string>
				<string>486860</string>
				<string>525E54</string>
				<string>D13438</string>
				<string>C239B3</string>
				<string>B146C2</string>
				<string>00CC6A</string>
				<string>498205</string>
				<string>847545</string>
				<string>FF4343</string>
				<string>9A0080</string>
				<string>881798</string>
				<string>10893E</string>
				<string>107C10</string>
				<string>7E735F</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>default</key>
			<string>0.6</string>
			<key>key</key>
			<string>tileOpacity</string>
			<key>label</key>
			<string>Transparency</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>ml.festival.redstone.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restart SpringBoard</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You are using a beta version of Redstone. If you encounter any game-breaking bugs, contact me on Twitter (@Sniper_GER) or reddit (/u/Sniper_GER) so I can fix them</string>
		</dict>
	</array>
	<key>title</key>
	<string>Redstone</string>
</dict>
</plist>
